.cardartista{
    background-color: #788e98;
}
.buttonartista{
    background-color: aliceblue;
    border-color: black;
}
.imgartista{
    margin-top: 20px;
    width: 300px;
}
.abc{
    text-align: center;
}
#xy{
    font-size: x-large;   
}
#xyz{
    color: darkgray;
}