<div
  class="cardartista">
  <a href="#!">
    <img
      class="imgartista"
      src="https://img.freepik.com/foto-gratis/chico-guapo-seguro-posando-contra-pared-blanca_176420-32936.jpg"
      alt="" />
  </a>
  <div class="p-6">
    <h5
      class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
      nombre del artista
    </h5>
    <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
      aqui va la descripcion del artista
    </p>
    <button
      type="button"
      class="buttonartista"
      data-te-ripple-init
      data-te-ripple-color="light">
      Button
    </button>
  </div>
</div>