

  <!-- app.component.hmtl -->
<div class="min-h-screen flex flex-col">
  <!-- Barra de navegación fija en la parte superior -->
  <app-carrusel></app-carrusel>
  <app-navbar class="fixed top-0 w-full"></app-navbar>

  <div class="flex-1">
    <!-- Contenido de la aplicación que se expande para llenar el espacio disponible -->
    <router-outlet></router-outlet> <!-- Cargar el componente correspondiente a la ruta -->
    
  </div>

  <!-- Pie de página al final de la página -->
  <app-footer></app-footer>
</div>
