@font-face {
    font-family: 'Mifuente';
    src: url('../../../assets/Ephesis/Ephesis-Regular.ttf');
}

#divprincipal {
    margin-top: 5%;
}

#vaalado {
    font-size: 3vw;
    max-width: 40%;
    margin: 5% auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 2vw;
    color: white;
    font-family: 'Mifuente';
    position: relative;
}

#vaalado img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.image-left {
    float: none;
    margin: 0 auto 20px;
    display: block;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    /* Estilos para pantallas más grandes */
    #vaalado {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .image-left {
        float: left;
        margin: 0 20px 0 20px; /* Ajusta el margen izquierdo aquí */
    }
}



