<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <div class="navbar-logo">
            <img src="../../../assets/img/Logo_Bellas_Artes.png">
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Catalogo</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Artistas</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#" aria-disabled="true">A Cerca De</a>
            </li>
        </ul>
        </div>

        <!-- <div class="collapse navbar-collapse btnLogin" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" href="#">Iniciar Sesion</a>
                </li>
            </ul>
        </div> -->
    </div>
</nav>