<!-- navbar.component.html -->

<nav class="relative px-4 py-4 flex justify-between items-center bg-slate-50">
  <!-- Logo y enlace al inicio -->
  <a class="text-3xl font-bold leading-none" href="#">
    <svg class="h-10" alt="logo" viewBox="0 0 10240 10240">
      <!-- Contenido del logo SVG -->
    </svg>
    <div class="navbar-logo">
      <img src="../../../assets/img/Logo_Bellas_Artes.png" width="300px" alt="Logo Bellas Artes">
    </div>
  </a>

  <!-- Botón de menú para dispositivos móviles -->
  <div class="lg:hidden">
    <button class="navbar-burger flex items-center text-blue-600 p-3" (click)="toggleMenu()">
      <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Mobile menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </button>
  </div>

  <!-- Lista de enlaces de navegación -->
  <ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
    <li><a routerLink="/home" class="text-sm text-black-600 hover:text-red-500" href="#">Inicio</a></li>
    <li><a routerLink="/catalogo" class="text-sm text-black-600 hover:text-red-500" href="#">Catálogo</a></li>
    <li><a routerLink="/artista" class="text-sm text-black-600 hover:text-red-500" href="#">Artistas</a></li>
    <li><a routerLink="/about" class="text-sm text-gray-600 hover:text-gray-500" href="#">Acerca de</a></li>
  </ul>

  <!-- Enlaces de inicio de sesión y registro -->
  <a routerLink="/login" class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold rounded-xl transition duration-200">Iniciar Sesión</a>
  <a routerLink="/signup" class="hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200">Registrarse</a>
</nav>


<div class="navbar-menu relative z-50" [ngClass]="{'hidden': !isMenuOpen}">
  <!-- Contenido del menú desplegable -->
  <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
  <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
    <div class="flex items-center mb-8">
      <a class="mr-auto text-3xl font-bold leading-none" href="#">
        <svg class="h-12" alt="logo" viewBox="0 0 10240 10240">
          <!-- Contenido del logo SVG -->
        </svg>
      </a>
      <button class="navbar-close">
        <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div>
      <ul>
        <li class="mb-1">
          <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
            href="#">Home</a>
        </li>
        <li class="mb-1">
          <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
            href="#">About is</a>
        </li>
        <!-- Agrega más elementos de menú según tus necesidades -->
      </ul>
    </div>
    <div class="mt-auto">
      <div class="pt-6">
        <a routerLink="/login"
          class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-gray-50 hover:bg-gray-100 rounded-xl">Sign
          in</a>
        <a routerLink="/signup"
          class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-600 hover:bg-blue-700 rounded-xl">Sign
          Up</a>
      </div>
      <p class="my-4 text-xs text-center text-gray-400">
        <span>Copyright © 2021</span>
      </p>
    </div>
  </nav>
</div>
