<!-- joyeria.compoenent.html-->
<div class="py-20 bg-gray-50">
  <div class="container mx-auto px-6 md:px-12 xl:px-32">
      <div class="mb-16 text-center">
          <h2 class="mb-4 text-center text-2xl text-gray-900 font-bold md:text-4xl">Catalogo</h2>
      </div>
      <div class="grid gap-12 items-center md:grid-cols-3">
          <div *ngFor="let item of catalogo">
              <img class="w-64 h-64 mx-auto object-cover rounded-xl" alt="woman" loading="lazy"
                 src="https://saisho-prod-1.fra1.cdn.digitaloceanspaces.com/art/uploads/2020/01/20180322_130803-min-1.jpg" > <!-- Agrega el evento click -->
              <div>
                  <h4 class="text-2xl">{{ item.Nombre_Obra }}</h4>
                  <span class="block text-sm text-gray-500">{{ item.Descripcion }}</span>
              </div>
          </div>

      </div>
  </div>

