.cardpintura{
    background-color: #788e98;
    
}

.ps6{
    padding: 20px;
    margin-left: 20px;
}

.buttoncatalogo{
    background-color: aliceblue;
    border-color: black;
}
.abc{
    text-align: center;
}
#xy{
    font-size: x-large;   
}
#xyz{
    color: darkgray;
}