<div class="grid min-h-screen bg-white-900 py-10">
    <div class="grid min-h-screen place-items-center">
      <div class="gallery border-2 rounded m-5 bg-white md:flex" style="max-width: 750px;">
        <div class="each-frame border-box flex-none h-full md:w-1/2">
          <img class="w-full h-full object-cover rounded-lg md:rounded-l-lg md:rounded-r-none" src="https://emamichiselart.files.wordpress.com/2015/09/emami-fb-1.jpg" alt="La casa de las bellas Artes">
        </div>
        <div class="main flex flex-col w-full md:w-1/2 p-8">
          <div class="sub my-auto">
            <div class="head text-3xl font-bold mb-4">La casa de las bellas Artes</div>
            <div class="long-text text-lg p-4">
              Las artes buscan representar, a través de medios diferentes el universo de inquietudes humanas, sean reales o imaginadas, mediante el uso de símbolos o alegorías. La expresión arte se usa también para referir a todos aquellos procesos manuales que requieren de la aplicación de reglas o técnicas específicas, orientadas al disfrute de los sentidos. Por ejemplo, las artes culinarias.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
